{% extends 'base/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <h1>Кандидаты</h1>
    <div class="row">
        {% for application in applications %}
            <div class="col-md-4">
                <div class="card" style="margin-top: 2rem">
                    <div class="card-body">
                        <h5 class="card-title">{{ application.applicant.first_name }} {{ application.applicant.last_name }}</h5>
                        <p class="card-text">{{ application.vacancy.title }}</p>
                        <p class="card-text">{{ application.created_at }}</p>
                        <p class="card-text">{{ application.applicant.cv.position }}</p>
                        <p class="card-text">{{ application.applicant.cv.get_category_display }}</p>
                        <p class="card-text">{{ application.applicant.cv.experience }}</p>
                        <p class="card-text">{{ application.applicant.cv.last_job }}</p>
                        <p class="card-text">{{ application.applicant.phone_number }}</p>
                        <a href="{% url 'chat' application.vacancy.pk application.applicant.pk %}" class="btn btn-primary">Чат</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-warning" role="alert" style="margin-top: 2rem">
                Нет кандидатов, соответствующих вашим критериям.
            </div>
        {% endfor %}
    </div>
{% endblock %}
