{% extends 'base/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block title %}Вакансия{% endblock %}
{% block content %}
<div class="container mt-5">

        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h2>{{ vacancy.title }}</h2>
                    <h5 class="text-muted">{{ vacancy.get_profession_display }}</h5>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Основные обязанности:</h4>
                    <p class="card-text">{{ vacancy.description }}</p>

                    <h4 class="card-title">Зарплата:</h4>
                    <h2>{{ vacancy.salary }} тг</h2>

                    <h4 class="card-title">Требования к должности:</h4>
                    <ul>
                        <li>Опыт работы от {{ vacancy.exp_from }} до {{ vacancy.exp_before }} лет</li>
                        <li>Дата обновления {{ vacancy.updated_at }}</li>
                    </ul>
                </div>
                <div class="card-footer text-muted">
                    Компания: <a href="{% url 'company_vacancies' vacancy.author.pk %}">{{ vacancy.author.first_name }}</a>
                </div>
                {% if user.is_authenticated %}
                    {% if user_has_applied.vacancy.pk %}
                        <div class="card-footer">
                            <button class="btn btn-secondary" disabled>Откликнуться</button>
                        </div>
                    {% else %}
                        <div class="card-footer">
                            <a href="{% url 'apply_vacancy' vacancy.pk %}" class="btn btn-success apply-btn" id="apply-btn-{{ vacancy.pk }}" data-vacancy-id="{{ vacancy.pk }}">Откликнуться</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

</div>
{% endblock %}
