{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" href="https://i.hh.kz/logos/svg/hh.ru__min_.svg?v=11032019" type="image/x-icon"/>
    <title>{% block title %}HeadHunter{% endblock %}</title>
    <script>
        function handleKeyPress(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                document.getElementById('search-form').submit();
            }
        }



    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 80px">
    <div class="container">
        <a href="{% url 'index' %}">
            <img src="https://i.hh.kz/logos/svg/hh.ru__min_.svg?v=11032019" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                {% if user.is_employer %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'vacancies' %}">Вакансии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'applicants' %}">Кандидаты</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'my_cv' %}">Мои резюме</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'my_applications' %}">Отклики</a>
                </li>
                {% endif %}
                {% endif %}
            </ul>
            <form class="form-inline" action="{% url 'index' %}" method="get" id="search-form">
                <input type="text" name="search" id="search" class="form-control"
                       placeholder="Поиск по названию должности" value="{{ search_query|default:'' }}"
                       onkeypress="handleKeyPress(event)">
            </form>
            {% if user.is_authenticated and not user.is_employer %}
            <button type="button" class="btn btn-outline-success">
                <a href="{% url 'cv_create' %}" class="cv_link">Создать резюме</a>
            </button>
            {% endif %}
            {% if user.is_employer %}
            <button type="button" class="btn btn-outline-primary">
                <a href="{% url 'vacancy_create' %}" class="vac_link">Создать вакансию</a>
            </button>
            {% endif %}
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' user.pk %}">
                        {% include "partial/profile.html" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        {% include "partial/logout.html" %}
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">
                        {% include "partial/register.html" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">
                        {% include "partial/login.html" %}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>