{% extends 'base/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

<div class="container" style="margin-top: 2rem">
    <div class="row">
        <div class="col-md-8">
            <h3>{{ cv.title }}</h3>
            <hr>
            <ul>
                <li>Направление: {{ cv.get_category_display }}</li>
                <li>Желаемый уровень дохода: {% if cv.salary %}{{ cv.salary }} тенге{% else %}Не указано{% endif %}</li>
                <li>Электронная почта: {{ cv.email }}</li>
                <li>Номер телефона: {{ cv.phone }}</li>
                <li>Дата рождения: {{ cv.date_birth }}</li>
                <li>Пол: {{ cv.get_sex_display }}</li>
                <li>Семейное положение: {{ cv.get_marital_status_display }}</li>
                <li>Адрес 1: {% if cv.address1 %}{{ cv.address1 }}{% else %}Не указано{% endif %}</li>
                <li>Адрес 2: {% if cv.address2 %}{{ cv.address2 }}{% else %}Не указано{% endif %}</li>
                <li>Город проживания: {{ cv.get_city_display }}</li>
            </ul>
            {% if request.user == cv.author %}
            <p><a href="{% url 'cv_update' cv.pk %}" class="btn btn-outline-dark">Редактировать личные данные</a></p>
            {% endif %}
            <hr>
            <h3>Опыт работы</h3>
            {% for job in cv.job_exp.all %}
            <h4>{{ job.job_place }}</h4>
            <p>Должность: {{ job.job_position }}</p>
            <p>Стаж: {% if job.job_exp == 1 %}
                {{ job.job_exp }} год
                {% elif job.job_exp > 1 and job.job_exp <= 4.5 %}
                {{ job.job_exp }} года
                {% else %}
                {{ job.job_exp }} лет{% endif %}</p>
            <p>Обязанности:</p>
            <p>{{ job.job_description }}</p>
            {% if request.user == cv.user %}
            <p><a href="{% url 'job_update' job.pk %}" class="btn btn-outline-dark">Редактировать опыт работы</a></p>
            {% endif %}
            <hr>
            {% empty %}
            <div>
                <h4>Опыт работы отсутствует</h4>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h3>Соц сети</h3>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{ cv.telegram }}"><i class="fa-brands fa-telegram fa-xl"></i></a>
                </li>
                {% if cv.whatsapp %}
                <li class="list-inline-item"><a href="{{ cv.whatsapp }}"><i class="fa-brands fa-whatsapp fa-xl"></i></a>
                </li>
                {% endif %}
                {% if cv.linkedin %}
                <li class="list-inline-item"><a href="{{ cv.linkedin }}"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                </li>
                {% endif %}

                {% if cv.facebook %}
                <li class="list-inline-item"><a href="{{ cv.facebook }}"><i class="fa-brands fa-facebook fa-xl"></i></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
