{% extends 'base/base.html' %}
{% load django_bootstrap5 %}
{% block menu %}
{% if user_obj == request.user %}
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input style="width:100px" type="submit" class="btn btn-danger" value="Выйти">
</form>
{% endif %}
{% endblock %}
{% block content %}


<div class="container">

    <table>
        <tr>
            <td>
                {% if user_obj.avatar %}
                <img class="avatar" src="{{ user_obj.avatar.url }}" alt="user picture">
                {% else %}
                <img class="avatar" style="width:100px; height:100px"
                     src="../../../uploads/user_pic/default.jpg"
                     alt="user picture">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>{{ user_obj.first_name }} {{ user_obj.last_name }}</td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td>{{ user_obj.phone }}</td>
        </tr>
        <tr>
            <td>Электронная почта</td>
            <td>{{ user_obj.email }}</td>
        </tr>
    </table>
    {% if user_obj == request.user %}
    <a href="{% url 'change' user_obj.pk %}" style="text-decoration:None; border-style:None;">
        Редактировать профиль</a>
    {% endif %}
</div>
<div class="create-cv">
    {% if user_obj == request.user %}
    <button><a href="{% url 'cv_create' %}" style="text-decoration:None; color:black;">Создать резюме</a></button>
    {% endif %}
</div>

<div class="row">
    {% for cv in user_obj.cv.all %}
    <div class="notes">
        <h2>{{ cv.title }}</h2>
        <p>Обновлено: {{ cv.updated_at }}</p>
        <p>
            <a href="{% url 'cv_detail' cv.pk %}" class="btn btn-primary read_more">Посмотреть резюме</a>
        <form action="{% url 'update_button' cv.pk %}" method="post"> {% csrf_token %}
            <button class="btn btn-success" type="submit">Обновить</button>
        </form>
        </p>
    </div>
    {% empty %}
    <h1><p>CVs not found</p></h1>
    {% endfor %}
</div>

{% endblock %}