{% extends 'base/base.html' %}
{% load django_bootstrap5 %}
{% block menu %}
{% if user_obj == request.user %}
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input style="width:100px" type="submit" class="btn btn-danger" value="Выйти">
</form>
{% endif %}
{% endblock %}
{% block content %}

{% if user_obj.avatar %}
<img class="avatar" src="{{ user_obj.avatar.url }}" alt="user picture">
{% else %}
<img style="width:100px; height:100px"
     src="../../../uploads/user_pic/default.jpg"
     alt="user picture">
{% endif %}

<p>{{ user_obj.username }}</p>
<p>{{ user_obj.first_name }}</p>
<p>{{ user_obj.last_name }}</p>
<p>{{ user_obj.phone }}</p>
<p>{{ user_obj.email }}</p>

{% if user_obj == request.user %}
<button><a href="{% url 'change' user_obj.pk %}" style="text-decoration:None; color:black;">Редактировать
    профиль</a></button>
{% endif %}

{% if user_obj == request.user %}
<button><a href="{% url 'cv_create' %}" style="text-decoration:None; color:black;">Создать резюме</a></button>
{% endif %}
{% endblock %}