{% extends 'base/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
{% for vacancy in vacancies %}
        <div class="card w-75" style="margin-top: 2rem">
            <div class="card-body">
                <h4 class="card-title">{{ vacancy.title }}</h4>
                <h5>{{ vacancy.get_profession_display }}</h5>
                <h5>{{ vacancy.salary }}</h5>
                <span><a href="{% url 'vacancy_detail' vacancy.pk %}">Подробнее</a></span>
            </div>
        </div>
{% endfor %}
{% endblock %}
